  
      .chatView {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      #chat {
        width: 400px;
        height: 500px;
        border-radius: 8px;
        border: 1px solid #ddd;
        overflow-y: scroll;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
      }
      #message,
      #chatId,
      #senderId {
        width: calc(100% - 100px);
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ddd;
        margin-right: 10px;
        font-size: 16px;
      }
      button {
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        background-color: #000dff;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      button:hover {
        background-color: #0056b3;
      }
      .message {
        margin-bottom: 10px;
        padding: 8px;
        border-radius: 4px;
        background-color: #e9ecef;
        max-width: 80%;
        word-wrap: break-word;
      }
      .message:nth-child(odd) {
        background-color: #f8f9fa;
      }

